<!-- <p>consonants-lettering-splash works!</p> -->
<!-- <div class="classroom-bg py-5" id="lettering-stage-two-page">
    <div class="inner container-fluid">
        <app-breadcrumb-topbar  [menuList]="menuList"></app-breadcrumb-topbar>
        <router-outlet></router-outlet>
    </div>
</div> -->

<div id="ui-template-sample-one">
    <div class="inner classroom-bg">
        <!-- <div class="container-fluid bg-warning h-100"> -->
        <div class="container-fluid h-100 py-5">
            <app-breadcrumb-topbar  [menuList]="menuList"></app-breadcrumb-topbar>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
