#pronunciation-page,
#identify-vowel-letters-page {
    .content-wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        // background-color: lightblue;
    }
}
