<!-- <p>password-change-success-message works!</p> -->
<div id="forgot-password-content">
    <div class="card card-content">
        <div class="card-body">
            <div class="icon-wrapper">
                <img src="../../../../../assets/images/icons/circle-check-regular.png" alt="" class="img-fluid">
            </div>
            <p>PASSWORD CHANGED SUCCESSFULLY</p>
        </div>
    </div>
</div>


<!-- <div id="forgot-password-content">
    <div class="card card-content account-verification-card">
        <div class="card-body">
            <p>Please enter the verification code sent to you email address</p>
        </div>
    </div>
</div> -->