<!-- <p>personal-details works!</p> -->
<!-- {{userDetails$ | async | json}}
<hr>
{{userData | json}} -->
<ul class="row list-style-none mb-0 pl-0" id="personal-details">
    <li class="col-12 col-md-6 order-md-1">
        <div class="_key">FULL NAME:</div>
        <div class="_value">{{userData?.usr_fullname}}</div>
    </li>
    <li class="col-12 col-md-6 order-md-3">
        <div class="_key">GENDER:</div>
        <div class="_value">{{userData?.usr_gender}}</div>
    </li>
    <li class="col-12 col-md-6 order-md-2">
        <div class="_key">EMAIL ADDRESS:</div>
        <div class="_value email">{{userData?.usr_email}}</div>
    </li>
    <li class="col-12 col-md-6 order-md-4">
        <div class="_key">SELECTED PARTY:</div>
        <div class="_value selected-party">{{userData?.usr_party}}</div>
    </li>
</ul>
