@use "../../../../../../../../sass/_partials/mixins";
#hint-box {
    background: #000000;
    border: 7px solid #4a3d96;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 2em;
    li {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 2.1rem;
        color: #009cf3;
        letter-spacing: 10px;
    }
}

#result-output {
    ul {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        li {
            flex-basis: calc(100% / 3);
        }
    }
    .place-value-name {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 800;
        font-size: 2rem;
        letter-spacing: 0.04em;
        color: #000000;
        text-align: center;
    }
    .value-number {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 3.25rem;
        color: #000000;
        text-align: center;
        height: 90px;
        //
        position: relative;
        &::after {
            content: "";
            display: block;
            height: 10px;
            background-color: #000000;
            width: 3.4rem;
            margin: 0 auto;
            //
            position: absolute;
            bottom: 0;
            left: calc((100% / 2) - (3.4rem / 2));
        }
    }
}
.word-keyboard {
    max-width: 700px;
    margin: 1.2em auto;
    margin-bottom: 3em;
    .key {
        // width: 7.3rem;
        // height: 5.6rem;
        width: 100%;
        background-color: #ffffff;
        border: 7px solid #73cf48;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 49px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000000;
        border-radius: 0;

        &.right-answer {
            &:focus {
                background: #73cf48;
                border: 7px solid #73cf48;
                color: #ffffff;
            }
        }
        &.wrong-answer {
            &:focus {
                background: #ffffff;
                border: 7px solid #d93333;
                color: #000000;
            }
        }

        @include mixins.maxmq(768px) {
            font-size: 0.75rem;
        }
    }
}
.canvas-wrapper #word-result-screen-type-1 > .inner .word-result-board {
    max-width: 100%;
    display: flex;
    // align-items: center;
    // justify-content: center;
}

#result-number-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
        padding: 0.2em;
        > span {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 800;
            font-size: 5rem;
            // line-height: 131px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: -0.015em;
            color: #000000;
            position: relative;
            &::after {
                content: ",";
                display: inline-block;
                margin-right: 0.15em;
            }
            &::before {
                content: "";
                height: 14px;
                background-color: #000000;
                width: 90px;
                display: block;
                position: absolute;
                bottom: 10px;
            }
            .space {
                width: 90px;
            }
        }
    }
}
.canvas-wrapper #word-result-screen-type-1 > .inner .word-result-board {
    height: auto;
    flex-direction: column;
}
