<!-- <p>lrp-activity works!</p> -->
<nav>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/practice/lrp-activity']" routerLinkActive="router-link-active" >Sample 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/practice/lrp-activity/ui-sample-two']" routerLinkActive="router-link-active" >Sample 2</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
        </li> -->
    </ul>
</nav>
<router-outlet></router-outlet>