<!-- <p class="text-white">story works!</p> -->

<!-- <div class="text-white">Story</div> -->
<ul class="stage-status list-style-none pl-0">
    <li class="cursor-pointer stage-card-wrap" *ngFor="let item of Stages; let i = index"
        [routerLink]="['/literacy/story/', item?.title, 'story-stage-one-splash']">
        <div class="stage-card">
            <p>{{i + 1}}</p>
        </div>
        <ul class="stage-star-rating list-style-none pl-0">
            <li *ngFor="let item of  [1, 2, 3, 4]">
                <img src="../../../../assets/images/icons/white-grey-bordered-star..svg" alt="" class="img-fluid">
            </li>
        </ul>
    </li>
</ul>