<!-- <p class="text-white">lettering works!</p> -->
<!-- <div class="text-white">Lettering</div> -->
<ul class="stage-status list-style-none pl-0">
    <li class="cursor-pointer" *ngFor="let item of testStageStars; let i = index"
        [routerLink]="['/literacy/lettering/', item?.title, 'lettering-splash']">
        <!-- <div> -->
            <div class="stage-card">
                <p>{{i + 1}}</p>
            </div>
            <ul class="stage-star-rating list-style-none pl-0">
                <li *ngFor="let stageStar of item?.starArray">
                    <div *ngIf="stageStar?.isDone">
                        <img src="../../../../assets/images/icons/yellow-black-bordered-star.svg" alt=""
                            class="img-fluid">
                    </div>
                    <div *ngIf="!stageStar?.isDone">
                        <img src="../../../../assets/images/icons/white-grey-bordered-star..svg" alt=""
                            class="img-fluid">
                    </div>
                </li>
            </ul>
        <!-- </div> -->
    </li>
</ul>



<!-- <span *ngFor="let s of stageStar?.starArray" class="text-white">
    <span *ngIf="s?.isDone">
        <img src="../../../../assets/images/icons/white-grey-bordered-star.svg" alt=""
            class="img-fluid">
    </span>
    <span *ngIf="!s?.isDone">
        <img src="../../../../assets/images/icons/yellow-black-bordered-star.svg" alt=""
            class="img-fluid">
    </span>
</span> -->