<!-- <p>main-navigation works!</p> -->
<nav>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" [routerLink]="['/practice/speech-synthesis']" routerLinkActive="router-link-active">Speech
                Synthesis</a>
            <a class="p-2 text-dark" [routerLink]="['/practice/progress-bar']" routerLinkActive="router-link-active">Progress
                bar</a>
                <a class="p-2 text-dark"[routerLink]="['/practice/ui-templates']" routerLinkActive="router-link-active">UI Templates</a>
                <a class="p-2 text-dark"[routerLink]="['/practice/lrp-activity']" routerLinkActive="router-link-active">LRP Activity</a>
                <a class="p-2 text-dark"[routerLink]="['/practice/speech-to-text']" routerLinkActive="router-link-active">Speech to text</a>
            
            <!-- <a class="p-2 text-dark" href="#">Pricing</a> -->
        </nav>
        <!-- <a class="btn btn-outline-primary" href="#">Sign up</a> -->
    </div>
</nav>