<!-- <p>boolean-alert-dialog works!</p> -->
<div class="card border-0">
    <h5 class="card-header">
        NOTICE
    </h5>
    <div class="card-body">
        <p>ARE YOU SURE YOU WANT TO DELETE THIS REPORT?</p>
    </div>
    <div class="card-footer">
        <div class="action-wrapper">
            <button class="btn primary-btn btn-block" (click)="closeDialogForNo()">No</button>
            <button class="btn danger-btn btn-block" (click)="closeDialogForYes()">Yes</button>
        </div>
    </div>
</div>