<!-- <p>my-information works!</p> -->

<div id="account-page">
    <div class="details-card-2">
        <div class="title-wrapper">
            <h2 class="title">My Information</h2>
        </div>
        <div class="body-wrapper">
            <div class="item-card">
                <div class="item-card-header">
                    <h3 class="heading">PERSONAL DETAILS</h3>
                </div>
                <div class="item-card-body">
                    <!-- <app-personal-details [userData]="userData"></app-personal-details> -->
                    <app-personal-details></app-personal-details>
                    <!-- <ul class="row list-style-none mb-0 pl-0" id="personal-details">
                <li class="col-12 col-md-6 order-md-1">
                    <div class="_key">FULL NAME:</div>
                    <div class="_value">{{userData?.user_fullname}}</div>
                </li>
                <li class="col-12 col-md-6 order-md-3">
                    <div class="_key">GENDER:</div>
                    <div class="_value">{{userData?.user_gender}}</div>
                </li>
                <li class="col-12 col-md-6 order-md-2">
                    <div class="_key">EMAIL ADDRESS:</div>
                    <div class="_value email">{{userData?.user_email}}</div>
                </li>
                <li class="col-12 col-md-6 order-md-4">
                    <div class="_key">SELECTED PARTY:</div>
                    <div class="_value selected-party">{{userData?.user_party}}</div>
                </li>
            </ul> -->
                </div>
                <div class="item-card-footer">
                    <!-- <button class="btn text-uppercase primary-btn"
                        (click)="onEditPersonalDetails(userData)">Edit</button> -->
                    <!--  -->
                    <app-button [btnTitle]="editBtnLabel" [btnType]="editBtnType" [btnClasses]="editBtnClasses"
                        (onClickEvent)="onEditPersonalDetails(userData)"></app-button>
                </div>
            </div>

            <!--  -->

            <div class="item-card">
                <div class="item-card-header">
                    <h3 class="heading">SECURITY</h3>
                </div>
                <div class="item-card-footer">
                    <!-- <button class="btn text-uppercase primary-btn" [routerLink]="['/account/update-password']">EDIT
                        PASSWORD</button> -->
                    <app-button [btnTitle]="editPasswordBtnLabel" [btnType]="editPasswordBtnType"
                        [btnClasses]="editPasswordBtnClasses" [routerLink]="['/account/update-password']"></app-button>
                </div>
            </div>

            <!--  -->

            <div class="item-card">
                <div class="item-card-header d-flex align-items-center justify-content-between flex-wrap">
                    <h3 class="heading">LIST OF OCCUPANT</h3>
                    <!-- <button class="btn primary-bordered-btn test-strong text-uppercase d-none d-lg-block"
                        (click)="openRespondentListDialog()">Add New</button> -->
                    <app-button [btnTitle]="addNewOccupantBtnLabel" [btnType]="addNewOccupantBtnType"
                        [btnClasses]="addNewOccupantBtnClasses" (onClickEvent)="openRespondentListDialog()">
                    </app-button>
                    
                    <button class="btn primary-bordered-btn test-strong text-uppercase d-block d-lg-none"
                        (click)="openRespondentListDialog()">
                        <i class="fas fa-plus"></i>
                    </button>
                    <!-- <app-button [btnTitle]="addNewOccupantBtnLabelSmall" [btnType]="addNewOccupantBtnTypeSmall"
                        [btnClasses]="addNewOccupantBtnClassesSmall" (onClickEvent)="openRespondentListDialog()">
                        <i class="fas fa-plus"></i>
                    </app-button> -->
                </div>
                <div class="item-card-body">
                    <app-respondent-list></app-respondent-list>
                </div>
            </div>
        </div>
    </div>
</div>