<!-- <p>ui-templates works!</p> -->
<!-- nav -->
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/practice/ui-templates/ui-sample-one']" routerLinkActive="router-link-active">Sample one</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/practice/ui-templates/ui-sample-two']" routerLinkActive="router-link-active">Sample two</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/practice/ui-templates/ui-sample-three']" routerLinkActive="router-link-active">Sample three</a>
    </li>
</ul>
<router-outlet></router-outlet>
