<p>lettering-stage-two-activity works!</p>
<nav>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/practice/lrp-activity/ui-sample-two']" routerLinkActive="router-link-active" >Type One</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/practice/lrp-activity/ui-sample-two/type-two']" routerLinkActive="router-link-active" >Type Two</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>