<!-- <p>table-column-action-buttons works!</p> -->
<!-- edit: {{itemEdit}}
<hr>
remove: {{itemRemove}} -->
<div class="actions-btn">
    <div class="d-none d-lg-block">
        <button class="btn edit-btn primary-btn text-bold" [ngClass]="primaryBtnClasses" (click)="onEdit()" *ngIf="edit" [ngStyle]="primaryBtnStyle">{{primaryBtnTitle}}</button>
        <button class="btn delete-btn danger-btn" [ngClass]="dangerBtnClasses" (click)="onRemove()" *ngIf="remove" [ngStyle]="dangerBtnStyle">{{dangerBtnTitle}}</button>
    </div>
    <div class="d-block d-lg-none d-flex">
        <button class="btn btn-sm px-1 text-bold primary-text" (click)="onEdit()" *ngIf="edit">
            <i class="fas fa-pen"></i>
        </button>
        <button class="btn btn-sm px-1 text-bold danger-text" (click)="onRemove()" *ngIf="remove">
            <i class="fas fa-trash"></i></button>
    </div>
</div>
<!-- 
<div class="actions-btn">
    <div *ngIf="removeContent">
        <div class="d-none d-lg-block">
            <button class="btn btn-sm edit-btn primary-btn text-bold" (click)="onEdit()">Edit</button>
            <button class="btn btn-sm delete-btn danger-btn" (click)="onRemove()">Delete</button>
        </div>
    </div>
    <div *ngIf="editContent">
        <div class="d-block d-lg-none d-flex">
            <button class="btn btn-sm px-1 text-bold primary-text">
                <i class="fas fa-pen" (click)="onEdit()"></i>
            </button>
            <button class="btn btn-sm px-1 text-bold danger-text" (click)="onRemove()">
                <i class="fas fa-trash"></i></button>
        </div>
    </div>
</div> -->