.select-drop-wrapper {
    select {
        background-color: #ffffff;
        background: #ffffff;
        border: 1px solid #d9d9d9;
        border-radius: 0px 5px 5px 0px;
    }
}

.card-footer {
    background-color: unset;
}
